!------------
! Xft config
!------------

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcdfilter

!--------------
! Color Scheme
!--------------

#include ".colors/nord"

!-----------
! st config
!-----------

st*font: IBM Plex Mono:size=10:antialias=true:autohint=true
st*fontalt0: RobotoMono Nerd Font:size=10:antialias=true:autohint=true
st*fontalt1: Symbola:size=10:antialias=true:autohint=true
st*borderpx: 20
